
@font-face {
    font-family: 'Ubuntu';
    src:url('../../fonts/.woff2') format('woff2'),
        url('../../fonts/.woff') format('woff'),
        url('../../fonts/.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}